{{- range $name, $taxonomy := .Site.Taxonomies -}}
	{{- $id := replaceRE "[[:^alnum:]]" "" ($name | lower) | safeCSS -}}
	{{- $section := $name | singularize -}}

	<section id="content_{{- $id -}}" class="content" data-section-name="page_{{- $id -}}">
	<div class="content_data">	
	<h1>{{- $name | humanize -}}</h1>
	
	{{- range where $.Site.Pages ".Section" "eq" $section -}}
	<div class="post">
	{{- if not .Date.IsZero -}}
	<strong>{{- .Date.Format "Mon, Jan 2, 2006" }}</strong> 
	{{- end -}}
	{{- .Content -}}
	</div>
	{{- end -}}

	</div>
	</section>
{{- end -}}
